<%= turbo_frame_tag "logs-table-#{@table_page}" do %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Usuario</th>
        <th scope="col">IP</th>
        <th scope="col">Tipo de Ataque</th>
        <th scope="col">Timestamp</th>
      </tr>
    </thead>
    <tbody>
      <% @logs.each do |log| %>
        <tr>
          <td><%= log.nombre_usuario %></td>
          <td><%= log.ip_log %></td>
          <td><%= log.tipo_ataque %></td>
          <td><%= log.time_stamp_log.strftime("%m/%d/%Y a las %I:%M%p") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if @table_page >= 2 %>
    <%= link_to 'anterior', ataques_path(page: @table_page - 1) %>
  <% end %>

  <% if @table_page >= 2 && !@next_logs.empty? %>
    |
  <% end %>

  <% unless @next_logs.empty? %>
    <%= link_to 'siguiente', ataques_path(page: @table_page + 1) %>
  <% end %>
<% end %>

<h1>Ataques Detectados Hoy</h1>
<%= line_chart @today_logs_with_attacks.group_by_hour(:time_stamp_log).count.transform_keys { |key| key.strftime("%H") } %>

<br/>
<br/>

<div id="accordion">
  <%= render @alert_logs %>
</div>
