

<h1>Inicio de Sesi칩n</h1>

<img src="/assets/use.png">

<div class="center">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <label>Correo Electr칩nico</label>
    <%= f.email_field :email, class: 'field',autofocus: true, autocomplete: "email" %>
  <label>Contrase침a</label>
    <%= f.password_field :password, class: 'field', autocomplete: "current-password" %>

    <%= f.submit "Iniciar Sesi칩n", class: 'button' %>

<% end %>
<div class="item">
<%= render "devise/shared/links" %>
</div>
</div>
